@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&display=swap');
/*-------------------------- body ---------------------*/
body{
    margin: 0px;
    padding: 0px;
}

/*----------------------- header ---------------------*/
header{
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid darkgray;
}

header .container{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header .container .col1{
    width: 20%;
    display: flex;
    justify-content: center;
    align-content: center;
}

header .container .col1 img{
    width: 100%;
}

header .container .col2{
    width: 60%;
    display: flex;
    justify-content: center;
    align-content: center;
}

header .container .col2 nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container .col2 nav ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 0px;
}

header .container .col2 nav ul li{
    list-style: none;
    padding: 5px 10px;
}

header .container .col2 nav ul li a{
    text-decoration: none;
    color: #020202;
    font-size: 1.3em;
    font-family: 'Gemunu Libre', sans-serif;
    letter-spacing: 1px;
}

header .container .col3{
    width: 20%;
    display: flex;
    flex-direction: row;
}

header .container .col3 div:nth-child(1){
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 10px;
}

header .container .col3 div:nth-child(1) a svg{
    width: 32px;
    height: 32px;
    color: #020202;
}

header .container .col3 div:nth-child(2){
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
}

header .container .col3 div:nth-child(2) a svg{
    width: 32px;
    height: 32px;
    color: #020202;
}

/*----------------------- main -----------------------*/

main{
    width: 100%;
    display: flex;
    justify-content: center;
}

main .container div h3{
    width: 100%;
    display: flex;
    justify-content: center;
    color: orangered;
}


/*-------------------------- footer -----------------*/

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

footer div{
    width: 80%;
    display: flex;
    justify-content: center;
}

footer div span{
    width: 100%;
    font-size: 1.2em;
    color: darkgray;
    font-family: sans-serif;
    text-align: center;
    padding-top: 5px;
}   
